@charset "UTF-8";
@keyframes MenuAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anglemotion {
  0% {
    transform: scale(0, 1);
    transform-origin: 0 0;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -7px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*スクロールダウン要素*/
@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 100;
}
header .header_wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #4B4B4B;
  padding: 1em 0;
}
header .header_wrapper .header_logo {
  position: fixed;
  left: 5%;
}
header .header_wrapper .header_logo h1 {
  font-size: 3em;
  font-family: "Righteous", cursive;
  color: #FDFAF6;
  letter-spacing: 0.1em;
}
header .header_wrapper nav {
  width: 60%;
}
header .header_wrapper nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
header .header_wrapper nav ul li a {
  font-family: "Righteous", cursive;
  position: relative;
  color: #FDFAF6;
  display: inline-block;
  transition: 0.3s;
  padding: 1em 3em;
  vertical-align: bottom;
  overflow: hidden;
}
header .header_wrapper nav ul li a span {
  position: absolute;
  left: 50%;
  top: 0;
  transition: all 0.5s;
  transform: translate(-50%, 0);
  display: block;
  opacity: 1;
  white-space: nowrap;
}
header .header_wrapper nav ul li a span:nth-child(2) {
  opacity: 0;
  transform: translate(-50%, 100%);
}
header .header_wrapper nav ul li:hover span:nth-child(1) {
  opacity: 0;
  transform: translate(-50%, -100%);
}
header .header_wrapper nav ul li:hover span:nth-child(2) {
  opacity: 1;
  transform: translate(-50%, 0);
}

#header .btn_menu {
  position: fixed;
  right: 2%;
  background: #666666;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 999;
}
#header .btn_menu span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #FDFAF6;
}
#header .btn_menu span:nth-of-type(1) {
  top: 20px;
  width: 45%;
}
#header .btn_menu span:nth-of-type(2) {
  width: 0;
}
#header .btn_menu span:nth-of-type(3) {
  top: 30px;
  width: 45%;
}
#header .btn_menu.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-135deg);
  width: 30%;
}
#header .btn_menu.active span:nth-of-type(2) {
  opacity: 0;
}
#header .btn_menu.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(135deg);
  width: 30%;
}
#header .menu_nav.menu_active {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100vh;
}
#header .menu_nav.menu_active .menu_list {
  display: block;
}
#header .menu_nav.menu_active ul {
  opacity: 1;
}
#header .menu_nav.menu_active ul li {
  animation-name: MenuAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#header .menu_nav .menu_list {
  display: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#header .menu_nav ul {
  opacity: 0;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .circle_bg {
  position: fixed;
  z-index: 50;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #4B4B4B;
  transform: scale(0);
  right: -50px;
  top: -50px;
  transition: all 0.6s;
}
#header .circle_bg.circle_active {
  transform: scale(50);
}

#top {
  height: 100vh;
  width: 100%;
}
#top .top_sec {
  background-color: #4B4B4B;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
#top .top_sec .top_card {
  position: relative;
  left: 10%;
  width: 40%;
  background-color: #FDFAF6;
  padding: 2.4em;
  font-family: "Righteous", cursive;
}
#top .top_sec .top_card h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
#top .top_sec .top_card p {
  font-size: 1em;
  color: #CCCCCC;
}
#top .top_sec .top_card::after {
  content: "";
  background: #666666;
  width: 16vw;
  height: 2vw;
  position: absolute;
  bottom: 10%;
  right: -20%;
  animation: anglemotion 3s cubic-bezier(1, 0, 0, 1);
}
#top .top_sec .top_view {
  position: relative;
  width: 56%;
}
#top .top_sec .top_view img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}
#top .top_character {
  position: absolute;
  top: 45%;
  left: 5%;
  transform: translate(-50%, 0);
}
#top .top_character h2 {
  position: relative;
  font-size: 1.3em;
  color: #FDFAF6;
  font-family: "Righteous", cursive;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.1em;
}
#top .top_character h2::before {
  content: "";
  width: 2px;
  height: 40px;
  background: #FDFAF6;
  position: absolute;
  top: -30%;
  left: 50%;
}
#top .top_character h2::after {
  content: "";
  width: 2px;
  height: 40px;
  background: #FDFAF6;
  position: absolute;
  bottom: -30%;
  left: 50%;
}
#top .circle_sdl {
  position: relative;
  background: #666666;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 10%;
  left: 15%;
  border-radius: 50%;
}
#top .circle_sdl .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 35px 0 35px;
  border-color: #FDFAF6 transparent transparent transparent;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top .circle_sdl p {
  font-size: 0.8em;
  color: #FDFAF6;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Righteous", cursive;
}

#news {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 5em 0 0 3em;
  line-height: 1;
  overflow: hidden;
}
#news::before {
  content: "";
  background: #fff;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 5%;
  left: 0;
}
#news .news_sec {
  width: 76%;
  margin-left: auto;
  background-color: #FDFAF6;
  padding: 3em;
  white-space: nowrap;
  z-index: 5;
}
#news .news_sec h2 {
  font-size: 2em;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}
#news .news_sec .Portfolio_list {
  width: 100%;
  height: auto;
  position: relative;
}
#news .news_sec .Portfolio_list .right {
  position: absolute;
  right: 0;
  top: 50%;
  background: #4B4B4B;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#news .news_sec .Portfolio_list ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#news .news_sec .Portfolio_list ul li {
  width: 26%;
  height: auto;
  margin: 0 1.5em;
  scroll-snap-align: center;
}
#news .news_sec .Portfolio_list ul li .pf_img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
#news .news_sec .Portfolio_list ul li .pf_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#news .news_sec .Portfolio_list ul li .pf_img .circle {
  position: relative;
  position: absolute;
  bottom: -10%;
  right: -20%;
  width: 80px;
  height: 80px;
  background: #4B4B4B;
  border-radius: 50%;
}
#news .news_sec .Portfolio_list ul li .pf_img .circle .right_arrow {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-90deg);
  border-color: #FDFAF6 transparent transparent transparent;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px 0 20px;
  border-radius: 3px;
}

#about {
  position: relative;
  width: 100%;
  height: auto;
}
#about .about_sec {
  padding: 3em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  background: #4B4B4B;
}
#about .about_sec::after {
  content: "INTRODUCTION";
  color: #666666;
  font-family: "Righteous", cursive;
  font-size: 4em;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 1;
}
#about .about_sec .about_lead {
  width: 40%;
  display: inline-block;
  color: #FDFAF6;
  font-family: "Roboto", sans-serif;
}
#about .about_sec .about_lead .sec_ttl {
  line-height: 1.2;
  margin-bottom: 3em;
}
#about .about_sec .about_lead .sec_ttl h2 {
  position: relative;
  font-size: 3em;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1em;
  display: inline-block;
}
#about .about_sec .about_lead .sec_ttl h2::after {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  right: -60%;
  top: 50%;
  background: #FDFAF6;
}
#about .about_sec .about_lead .sec_ttl h3 {
  font-size: 1.3em;
}
#about .about_sec .about_lead .sec_ttl h3 span {
  font-family: "Righteous", cursive;
}
#about .about_sec .about_lead .about_txt {
  font-size: 0.8em;
  line-height: 2.5em;
  color: #CCCCCC;
}
#about .about_sec .about_img {
  position: relative;
  width: 40%;
  height: 100%;
  top: 70px;
}
#about .about_sec .about_img::before, #about .about_sec .about_img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#about .about_sec .about_img img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

#service {
  position: relative;
  width: 100%;
  height: auto;
}
#service::before {
  content: "";
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  height: 8%;
  z-index: 1;
}
#service .service_sec {
  background: #FDFAF6;
  padding: 8em 0;
  width: 100%;
}
#service .service_sec .sec_ttl {
  text-align: center;
}
#service .service_sec .sec_ttl h2 {
  position: relative;
  font-size: 3em;
  font-family: "Righteous", cursive;
  display: inline-block;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}
#service .service_sec .sec_ttl h2::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 15%;
  width: 70%;
  height: 3px;
  background: #4B4B4B;
}
#service .service_sec .service_content {
  position: relative;
  width: 100%;
  height: auto;
}
#service .service_sec .service_content .service_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
#service .service_sec .service_content .service_list ul li {
  position: relative;
  vertical-align: bottom;
  width: 32%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 3em 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#service .service_sec .service_content .service_list ul li:nth-child(2) {
  top: 30px;
}
#service .service_sec .service_content .service_list ul li .service_img {
  width: 100%;
  vertical-align: bottom;
}
#service .service_sec .service_content .service_list ul li .service_img img {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  height: auto;
}
#service .service_sec .service_content .service_list ul li .service_card_txt {
  width: 70%;
  line-height: 1.5em;
  text-align: center;
}
#service .service_sec .service_content .service_list ul li .service_card_txt h3 {
  position: relative;
  font-size: 2em;
  font-family: "Righteous", cursive;
  margin-bottom: 1em;
}
#service .service_sec .service_content .service_list ul li .service_card_txt h3::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 35%;
  margin: 0 auto;
  background-color: #4B4B4B;
  width: 30%;
  height: 3px;
}
#service .service_sec .service_content .service_list ul li .service_card_txt p {
  font-size: 0.8em;
  line-height: 1.2em;
  font-family: "Roboto", sans-serif;
}
#service .service_sec .service_content .service_list ul li .Card_No {
  position: absolute;
  bottom: -20%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4B4B4B;
  font-size: 3em;
  font-family: "Righteous", cursive;
  color: #FDFAF6;
  border-radius: 50%;
  line-height: 1;
  width: 80px;
  height: 80px;
}

#skills {
  width: 100%;
  height: auto;
}
#skills .skills_sec {
  position: relative;
  background-color: #4B4B4B;
  padding: 2em 0;
}
#skills .skills_sec::after {
  content: "";
  background-color: #fff;
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#skills .skills_sec::before {
  content: "";
  background-color: #FDFAF6;
  width: 50%;
  height: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#skills .skills_sec .sec_ttl {
  line-height: 1.2;
  padding: 5em 0 3em 5em;
}
#skills .skills_sec .sec_ttl h2 {
  position: relative;
  color: #FDFAF6;
  font-size: 3em;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1em;
  display: inline-block;
}
#skills .skills_sec .sec_ttl h2::after {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  right: -60%;
  top: 50%;
  background: #FDFAF6;
}
#skills .skills_sec .sec_ttl h3 {
  font-size: 1.3em;
  color: #FDFAF6;
}
#skills .skills_sec .sec_ttl h3 span {
  font-family: "Righteous", cursive;
}
#skills .skills_sec .skill_content {
  position: relative;
  width: 100%;
}
#skills .skills_sec .skill_content ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#skills .skills_sec .skill_content ul li {
  z-index: 5;
  width: 30%;
  max-width: 400px;
  height: 100%;
  max-height: 450px;
  background-color: #fff;
  box-shadow: white 0px 1px 2px 0px, rgba(255, 255, 255, 0.4) 0px 0px 0px 1px;
  padding: 5em 2em;
  overflow: hidden;
}
#skills .skills_sec .skill_content ul li .cat {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #FDFAF6;
  font-size: 1.2em;
  font-family: adobe-handwriting-ernie, sans-serif;
  letter-spacing: 0.2em;
  font-weight: normal;
  z-index: 5;
}
#skills .skills_sec .skill_content ul li .cat::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100px 0;
  border-color: transparent #4b4b4b transparent transparent;
}
#skills .skills_sec .skill_content ul li .skill_img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: bottom;
}
#skills .skills_sec .skill_content ul li .skill_img img {
  width: fit-content;
  height: auto;
  object-fit: cover;
  background-size: cover;
}
#skills .skills_sec .skill_content ul li .skill_txt {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
#skills .skills_sec .skill_content ul li .skill_txt h3 {
  position: relative;
  font-size: 2em;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}
#skills .skills_sec .skill_content ul li .skill_txt h3::before {
  content: "";
  width: 3vw;
  height: 3px;
  background-color: #4B4B4B;
  position: absolute;
  top: 50%;
  left: 0;
}
#skills .skills_sec .skill_content ul li .skill_txt h3::after {
  content: "";
  width: 3vw;
  height: 3px;
  background-color: #4B4B4B;
  position: absolute;
  top: 50%;
  right: 0;
}

#works {
  width: 100%;
  height: auto;
  background-color: #fff;
}
#works .works_sec {
  position: relative;
  padding: 3em 0;
}
#works .works_sec::before {
  content: "";
  background: #FDFAF6;
  width: 80%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
}
#works .works_sec::after {
  content: "";
  background: #4B4B4B;
  width: 85%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#works .works_sec .sec_ttl {
  text-align: center;
}
#works .works_sec .sec_ttl h2 {
  position: relative;
  font-size: 3em;
  font-family: "Righteous", cursive;
  display: inline-block;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}
#works .works_sec .sec_ttl h2::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 25%;
  background-color: #4B4B4B;
  width: 50%;
  height: 3px;
}
#works .works_sec .works_content {
  width: 100%;
  height: auto;
  margin: 3em 0;
}
#works .works_sec .works_content ul {
  display: flex;
  flex-wrap: wrap;
}
#works .works_sec .works_content ul li {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 5;
}
#works .works_sec .works_content ul li:nth-child(even) {
  flex-direction: row-reverse;
}
#works .works_sec .works_content ul li:nth-child(even) .works_txt {
  color: #FDFAF6;
}
#works .works_sec .works_content ul li .works_img {
  position: relative;
  width: 20%;
  height: 100%;
  margin: 0 10em 0 5em;
}
#works .works_sec .works_content ul li .works_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#works .works_sec .works_content ul li .works_img span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FDFAF6;
  font-size: 2em;
  font-family: "Righteous", cursive;
  letter-spacing: 0.1em;
}
#works .works_sec .works_content ul li .works_txt {
  position: relative;
}
#works .works_sec .works_content ul li .works_txt .works_ttl {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 2em 0 1em;
}
#works .works_sec .works_content ul li .works_txt .works_ttl h3 {
  font-size: 2em;
  line-height: 1.2em;
}
#works .works_sec .works_content ul li .works_txt .works_ttl h3 span {
  display: block;
  font-family: "Righteous", cursive;
}
#works .works_sec .works_content ul li .works_txt .explanation h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
#works .works_sec .works_content ul li .works_txt .explanation p {
  font-size: 1em;
  line-height: 1.8em;
}

/*# sourceMappingURL=style.css.map */
