// トップ部分メイン画像をふわふわ浮かすアニメーション
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -7px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/*スクロールダウン要素*/
@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}