@use "drawer" as *;
@use  "../main/breakpoint" as *;

// ヘッダー部分のCSS
header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 100;

  .header_wrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: $bColor;
    padding: 1em 0;
    height: 60px;

    // ヘッダー右側ロゴ部分
    .header_logo {
      position: fixed;
      left: 5%;
      z-index: 100;

      h1 {
        font-size: 3em;
        font-family: $mFontE;
        color: $mColor;
        letter-spacing: .1em;
      }
    }

    // ヘッダーメニュー部分
    nav {
      width: 60%;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        li {
          a {
            font-family: $mFontE;
            position: relative;
            color: $mColor;
            display: inline-block;
            transition: .3s;
            padding: 1em 3em;
            vertical-align: bottom;
            overflow: hidden;

            span {
              position: absolute;
              left: 50%;
              top: 0;
              transition: all .5s;
              transform: translate(-50%, 0);
              display: block;
              opacity: 1;
              white-space: nowrap;
              &:nth-child(2) {
                opacity: 0;
                transform: translate(-50%, 100%);
              }
            }
          }
          &:hover span:nth-child(1) {
            opacity: 0;
            transform: translate(-50%, -100%);
          }
          &:hover span:nth-child(2) {
            opacity: 1;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}
// ヘッダーレスポンシブ パソコン1080px
@include tab {
header {

.header_wrapper {
    padding: 1em 0;
    // ヘッダー右側ロゴ部分
    .header_logo {
      left: 3%;

      h1 {
        font-size: 3em;
        font-family: $mFontE;
        color: $mColor;
        letter-spacing: .1em;
      }
    }

    // ヘッダーメニュー部分
    nav {
      width: 60%;

      ul {
        font-size: 1em;

        li {
          a {
            font-family: $mFontE;
            position: relative;
            color: $mColor;
            display: inline-block;
            transition: .3s;
            padding: 1em 3em;
            vertical-align: bottom;
            overflow: hidden;

            span {
              position: absolute;
              left: 50%;
              top: 0;
              transition: all .5s;
              transform: translate(-50%, 0);
              display: block;
              opacity: 1;
              white-space: nowrap;

              &:nth-child(2) {
                opacity: 0;
                transform: translate(-50%, 100%);
              }
            }
          }
        }
      }
    }
  }
}
}

@include sp {
header {
  .header_wrapper {
    padding: 1em 0;

    // ヘッダー右側ロゴ部分
    .header_logo {
      left: 3%;
    h1 {
        font-size: 2.4em;
      }
    }
    // ヘッダーメニュー部分
    nav {
      width: 100%;
      display: none;
      }
    }
  }
}

// ヘッダーハンバーガーメニューCSS
#header {
  .btn_menu {
    position: fixed;
    right: 2%;
    background: #666666;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 999;

    span {
      display: inline-block;
      transition: all .4s;
      /*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
      background: $mColor;
      
      // 中身棒線部分
      &:nth-of-type(1) {
        top: 20px;
        width: 45%;
      }
      &:nth-of-type(2) {
        // top: 23px;
        // width: 35%;
        width: 0;
      }
      &:nth-of-type(3) {
        top: 30px;
        width: 45%;
      }
    }
    // javascriptによるクラス付与でアニメーションを開始する
    &.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-135deg);
      width: 30%;
    }
    &.active span:nth-of-type(2) {
      opacity: 0;
    }
    &.active span:nth-of-type(3) {
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(135deg);
      width: 30%;
    }
  }

  // ここからハンバーガーメニューを開いた際のアニメーション要素
  .menu_nav {
   &.menu_active {
      position: fixed;
      z-index: 100;
      top: 0;
      width: 100%;
      height: 100vh;

      .menu_list {
        display: block;
      }
      ul {
        opacity: 1;

        li {
          animation-name: MenuAnime;
          animation-duration: 1s;
          animation-delay: .2s;
          animation-fill-mode: forwards;
          opacity: 0;
        }
      }
    }

    // ハンバーガーメニュー展開後のCSS
    .menu_list {
      display: none;
      position: fixed;
      z-index: 100;
      width: 100%;
      height: 100vh;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
      ul {
        opacity: 0;
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }
  
  .circle_bg {
    position: fixed;
    z-index: 50;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $bColor;
    transform: scale(0);
    right: -50px;
    top: -50px;
    transition: all .6s;
    &.circle_active {
      transform: scale(50);
    }
  }
}

// スマホ版ハンバーガーメニューレスポンシブスマホ版380px～
@include sp {
  #header .menu_nav ul {
    display: block;
    li {
      margin: 2em 0;
    }
  }
}






// フッター部分のCSS
footer {
  position: relative;
  width: 100%;
  text-align: center;
  .footer_wrapper {
    position: relative;
    padding: 4em 0 2em;
    // margin-top: 3em;
    .f_ac {
      position: absolute;
      top: -18%;
      left: 5%;
      background: #666666;
      width: 140px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: $mColor;
        font-size: 2em;
        font-family: $mFontE;
        letter-spacing: 0.1em;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -21%;
        border-right: 30px solid transparent;
        border-bottom: 45px solid #666666;
      }
    }


    // フッターリストはここから
    .footer_list {
      align-items: center;
      width: 70%;
      padding: 1em 0;
      margin: 0 auto;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        li {
          margin: 0 1em;
          a {
            font-family: $mFontE;
            position: relative;
            color: $mColor;
            transition: all .5s;
            padding: 1em 3em;
            overflow: hidden;
            vertical-align: bottom;
            font-size: 1.5em;
          }
          span {
            position: absolute;
            left: 50%;
            top: 0;
            transition: all .5s;
            transform: translate(-50%, 0);
            display: block;
            opacity: 1;
            white-space: nowrap;

            &:nth-child(2) {
              opacity: 0;
              transform: translate(-50%, 100%);
            }
          }
            &:hover span:nth-child(1) {
              opacity: 0;
              transform: translate(-50%, -100%);
            }
  
            &:hover span:nth-child(2) {
              opacity: 1;
              transform: translate(-50%, 0);
            }
          }
          
        }
      }
      // ここからフッターアイコンリスト
      .icon_list {
        position: relative;
        width: 50%;
        margin: 1em auto 0;

        nav {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
              margin: 0 2em;
              text-align: center;
              a {
                font-size: 1.8em;
                background-color: #565656;
                color: $mColor;
                padding: 0.5em;
                border-radius: 50%;
                border: 1px solid #fff;
                box-sizing: border-box;
                border: 1px solid transparent;
                outline: 1px solid;
                outline-color: #878787;
                outline-offset: 0px;
                text-shadow: none;
                transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
                &:hover {
                  border-color: $mColor;
                  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
                  outline-color: transparent;
                  outline-offset: 12px;
                  text-shadow: 2px 2px 3px #000;
                  cursor: pointer;
                }
              }
              // 文字要素
              span {
                display: block;
                color: $mColor;
                font-size: 1em;
                margin-top: 1em;
              }
            }
          }
        }
      }
    }
    // コピーライト
    small {
      color: $mColor;
      text-align: center;
    }
  }

// フッター部分のレスポンシブパソコン版1080px～
@include pc {
  footer {
    .footer_wrapper {
      .f_ac {
        left: 0;
      }
      .footer_list {
        width: 80%;
      }
    }
  }
}

// フッター部分のレスポンシブタブレット版780px～
@include tab {
footer {
    .footer_wrapper {
      .f_ac {
        span {
          opacity: 0.8;
        }
      }
      .footer_list {
        width: 100%;
        ul {
          justify-content: space-evenly;
          li {
            margin: 0;
            a {
              padding: 1em 2em;
            }
          }
        }
      }
    }
  }
}

// フッター部分のレスポンシブスマホ版380px～
@include sp {
footer {
    .footer_wrapper {
      .f_ac {
        top: -10%;
      }
      .footer_list {
        width: 100%;
        ul {
          display: block;
          li {
            margin: 1em 0;
            a {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}
