@use "../part/drawer" as *;

// トップメインヴュー部分のCSS
#top {
  height: 100vh;
  width: 100%;

  .top_sec {
    background-color: $bColor;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    // トップメイン左側のカード要素
    .top_card {
      position: relative;
      left: 10%;
      width: 40%;
      background-color: $mColor;
      padding: 2.4em;
      font-family: $mFontE;

      h2 {
        font-size: 2em;
        margin-bottom: 1em;
      }
      p {
        font-size: 1em;
        color: $sColorG;
      }
      &::after {
        content: '';
        background: $sColorBG;
        width: 16vw;
        height: 2vw;
        position: absolute;
        bottom: 10%;
        right: -20%;
        animation: anglemotion 3s cubic-bezier(1, 0, 0, 1);
      }
    }

    // トップメイン右側の画像要素
    .top_view {
      position: relative;
      width: 56%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        vertical-align: bottom;
      }
    }
  }
    .top_character {
      position: absolute;
      top: 45%;
      left: 5%;
      transform: translate(-50%, 0);
  
      h2 {
        position: relative;
        font-size: 1.3em;
        color: $mColor;
        font-family: $mFontE;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: 0.1em;
        &::before {
          content: '';
          width: 2px;
          height: 40px;
          background: $mColor;
          position: absolute;
          top: -30%;
          left: 50%;
        }
        &::after {
          content: '';
          width: 2px;
          height: 40px;
          background: $mColor;
          position: absolute;
          bottom: -30%;
          left: 50%;
        }
      }
    }

    // スクロールダウン要素 丸
    .circle_sdl {
      position: relative;
      background: $sColorBG;
      width: 150px;
      height: 150px;
      position: absolute;
      bottom: 10%;
      left: 15%;
      border-radius: 50%;
      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 60px 35px 0 35px;
        border-color: $mColor transparent transparent transparent;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      p {
        font-size: 0.8em;
        color: $mColor;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $mFontE;
      }
    }
}



// ニュース部分
#news {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 5em 0 0 3em;
  line-height: 1;
  // background: $bColor;
  overflow: hidden;

  // 下半分は白色の背景
  &::before {
    content: '';
    background: #fff;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 5%;
    left: 0;
  }


  .news_sec {
    width: 76%;
    margin-left: auto;
    background-color: $mColor;
    padding: 3em;
    white-space: nowrap;
    z-index: 5;

    h2 {
      font-size: 2em;
      font-family: $mFontE;
      letter-spacing: 0.1em;
      margin-bottom: 0.5em;
    }

    // ポートフォリオリスト
    .Portfolio_list {
      width: 100%;
      height: auto;
      position: relative;

      .right {
        position: absolute;
        right: 0;
        top: 50%;
        background: $bColor;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // overflow-x: auto;
        // overflow: hidden;
        // scroll-behavior: smooth;
        // scroll-snap-type: inline;

        li {
          width: 26%;
          height: auto;
          margin: 0 1.5em;
          scroll-snap-align: center;
          // display: inline-block;

          .pf_img {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
            .circle {
              position: relative;
              position: absolute;
              bottom: -10%;
              right: -20%;
              width: 80px;
              height: 80px;
              background: $bColor;
              border-radius: 50%;

              .right_arrow {
                position: absolute;
                top: 50%;
                left: 55%;
                transform: translate(-50%, -50%) rotate(-90deg);
                border-color: $mColor transparent transparent transparent;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 40px 20px 0 20px;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }

  }
}



// ABOUT
#about {
  position: relative;
  width: 100%;
  height: auto;

  .about_sec {
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    background: $bColor;

    // 背景装飾文字要素
    &::after {
      content: 'INTRODUCTION';
      color: $sColorBG;
      font-family: $mFontE;
      font-size: 4em;
      letter-spacing: .2em;
      position: absolute;
      bottom: 0;
      left: 5%;
      z-index: 1;
    }

    // Aboutテキスト部分
    .about_lead {
      width: 40%;
      display: inline-block;
      color: $mColor;
      font-family: $bFontJ;

      .sec_ttl {
        line-height: 1.2;
        margin-bottom: 3em;
        h2 {
          position: relative;
          font-size: 3em;
          font-family: $mFontE;
          letter-spacing: .1em;
          display: inline-block;

          &::after {
            content: '';
            width: 100px;
            height: 3px;
            position: absolute;
            right: -60%;
            top: 50%;
            background: $mColor;
          }
        }
        h3 {
          font-size: 1.3em;
          span {
            font-family: $mFontE;
          }
        }
      }
      .about_txt {
        font-size: 0.8em;
        line-height: 2.5em;
        color: #CCCCCC;
      }
    }

    // 画像部分CSS
    .about_img {
      position: relative;
      width: 40%;
      height: 100%;
      top: 70px;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        background: #fff;
        border-radius: 2px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
        object-fit: cover;
      }
    }
  }
}

// SERVICE
#service {
  position: relative;
  width: 100%;
  height: auto;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
    height: 8%;
    z-index: 1;
    }

  .service_sec {
    background: $mColor;
    padding: 8em 0;
    width: 100%;
    // margin-top: 5em;

    // サービス見出しテキスト部分
    .sec_ttl {
      text-align: center;

      h2 {
        position: relative;
        font-size: 3em;
        font-family: $mFontE;
        display: inline-block;
        line-height: 1.2em;
        letter-spacing: 0.1em;
        margin-bottom: 1em;

        &::before {
          content: '';
          position: absolute;
          bottom: -20%;
          left: 15%;
          width: 70%;
          height: 3px;
          background: $bColor;
        }
      }
    }

    // サービスコンテンツ要素
      .service_content {
        position: relative;
        width: 100%;
        height: auto;
        .service_list {
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            li {
              position: relative;
              vertical-align: bottom;
              width: 32%;
              height: auto;
              display: flex;
              align-items: center;
              background-color: #fff;
              margin: 3em 0;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
              
              // ２番目だけ下に下げる
              &:nth-child(2) {
                top: 30px;
              }
              // サービス中身画像
              .service_img {
                width: 100%;
                vertical-align: bottom;
                img {
                  width: 100%;
                  object-fit: cover;
                  background-size: cover;
                  height: auto;
                }
              }
              // サービステキスト部分
              .service_card_txt {
                width: 70%;
                line-height: 1.5em;
                text-align: center;
                h3 {
                  position: relative;
                  font-size: 2em;
                  font-family: $mFontE;
                  margin-bottom: 1em;
                 
                  &::after {
                    content: '';
                    position: absolute;
                    bottom: -50%;
                    left: 35%;
                    margin: 0 auto;
                    background-color: $bColor;
                    width: 30%;
                    height: 3px;
                  }
                }
                p {
                  font-size: 0.8em;
                  line-height: 1.2em;
                  font-family: $bFontJ;

                }
              }

              // 疑似要素 右下ナンバー装飾
              .Card_No {
                position: absolute;
                bottom: -20%;
                right: 0%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $bColor;
                font-size: 3em;
                font-family: $mFontE;
                color: $mColor;
                border-radius: 50%;
                line-height: 1;
                width: 80px;
                height: 80px;
              }
            }
          }
        }
      }
  }
}


// SKILLS
#skills {
  width: 100%;
  height: auto;
  .skills_sec {
    position: relative;
    background-color: $bColor;
    padding: 2em 0;
    // 右側 白背景
    &::after {
      content: '';
      background-color: #fff;
      width: 20%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
    // 右側下 淡い白背景
    &::before {
      content: '';
      background-color: $mColor;
      width: 50%;
      height: 40%;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    // セクションタイトル部分
    .sec_ttl {
      line-height: 1.2;
      padding: 5em 0 3em 5em;
      h2 {
        position: relative;
        color: $mColor;
        font-size: 3em;
        font-family: $mFontE;
        letter-spacing: .1em;
        display: inline-block;
        &::after {
          content: '';
          width: 100px;
          height: 3px;
          position: absolute;
          right: -60%;
          top: 50%;
          background: $mColor;
        }
      }
      h3 {
        font-size: 1.3em;
        color: $mColor;
        span {
          font-family: $mFontE;
        }
      }
    }

    // ここからスキルコンテンツカード要素
    .skill_content {
      position: relative;
      width: 100%;
      ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        li {
          z-index: 5;
          width: 30%;
          max-width: 400px;
          height: 100%;
          max-height: 450px;
          background-color: #fff;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          padding: 5em 2em;
          overflow: hidden;
          // カード要素右上にカテゴリー要素
            .cat {
              position: absolute;
              top: 0;
              right: 0;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 200px 100px 0;
              border-color: transparent #4b4b4b transparent transparent;
              span {
                display: block;
                width: 100%;
                min-width: 200px;
                height: 100%;
                min-height: 100px;
                text-align: center;
                color: $mColor;
                font-size: 1.2em;
                font-family: adobe-handwriting-ernie, sans-serif;
                letter-spacing: 0.2em;
                font-weight: normal;
              }
            }


          // スキルカード 画像要素
          .skill_img {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            vertical-align: bottom;
            img {
              width: fit-content;
              height: auto;
              object-fit: cover;
              background-size: cover;
            }
          }
          // スキルカード テキスト要素
          .skill_txt {
            width: 90%;
            text-align: center;
            margin: 0 auto;

            h3 {
              position: relative;
              font-size: 2em;
              font-family: $mFontE;
              letter-spacing: 0.1em;
              margin-bottom: 0.5em;
              // 疑似要素 左右に棒線
              &::before {
                content: '';
                width: 3vw;
                height: 3px;
                background-color: $bColor;
                position: absolute;
                top: 50%;
                left: 0;
              }
              &::after {
                content: '';
                width: 3vw;
                height: 3px;
                background-color: $bColor;
                position: absolute;
                top: 50%;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}


// WORKS
#works {
  position: relative;
  width: 100%;
  .works_sec {
    background-color: $mColor;

  }
}